{% extends "base.html" %}
{% block content %}
<div class = 'row'>
    <div class = 'col-8'>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-warning" role="alert">
                {% for message in messages %}
                    {{ message }}<br>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        <h2><b> {{page}} </b></h2>
        {% for news in news_list %}
        <h4> <a href="{{news.url}}">{{ news.title }}</a></h4>
        <p>{{ news.published.strftime('%d.%m.%Y %H:%M') }}</p>
        <hr />
        {% endfor %}
    </div>
    <div class = 'col-4'>
        <h2><b>Прогноз погоды:</b></h2>
        <p>
        {% if weather %}
            Температура воздуха:
            {{weather.temp_C}} C.
            Ощущается как {{weather.FeelsLikeC}} C.
        {% else %}
            Сервер временно недоступен
        {% endif %}
        </p>
    </div>
</div>
{% endblock %}