{% extends "base.html" %}
{% block content %}
<div class = 'row'>
    <div class = 'col-8'>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-warning" role="alert">
                {% for message in messages %}
                    {{ message }}<br>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        <h2><b> {{page}} </b></h2>
        <form action="{{ url_for('user.process_login') }}", method="POST">
            {{ form.hidden_tag() }} <!-- блок, который выводит все скрытые поля формы -->
            <div class='form-group'>
                {{ form.username.label }} <!-- .label выводит первый аргумент login_form.username 'Имя Пользователя' -->
                {{ form.username() }} <!-- Здесь в браузере будет форма <input id='username' name='username> ..
                . по ключюу 'username' получим значения имени ползователя ---->
            </div>
            <div class='form-group'>
                {{ form.password.label }}
                {{ form.password() }} <!-- Здесь в браузере будет форма <input id='passweord' name='password> ..
                . по ключюу 'password' получим введенное значения пароля ---->
            </div>
            <div class='form-group form-check'>
                {{ form.rememberme() }}
                {{ form.rememberme.label(class_='form-check-label')}} <!-- Передаем класс в label для
                применения форм css от bootstrap. class_ - т.к. ключевое слово в Python уже есть.
                 посмотреть можно в документации к getboorstap.com-->
            </div>



            <br>
                {{ form.submit() }}
        </form>
    </div>
</div>
{% endblock %}